main
.DS_Store
Lab2/main
.DS_Store
*.exe
*.out
Trabalho 1/Processos/P1
Trabalho 1/Processos/P10
Trabalho 1/Processos/P2
Trabalho 1/Processos/P3
Trabalho 1/Processos/P4
Trabalho 1/Processos/P5
Trabalho 1/Processos/P6
Trabalho 1/Processos/P7
Trabalho 1/Processos/P8
Trabalho 1/Processos/P9
Trabalho 1/interpretador
Trabalho 1/escalonador
/.vscode
/Trabalho1/escalonador.dSYM
/Trabalho1/interpretador.dSYM
